body{
    background-color:black ;

}

.contenitore-logo{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}


.categoria{
    text-decoration: none;
    color:white;
    font-size: 40px;
}

.categoria a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin-left: 30px;
}
.container-principale{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 50px;
}
.container-coordinate{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 50px;
}

.titolo-item {

    color: red;
}
.title{
    color: white;
    text-align: center;
}
.item{
    color: white;
    font-size: 10px;
    
}

footer{
    position: fixed;
    bottom: 0;
}
.footer h1{
    color: white;
    font-size: 20px;
    
}

@media only screen and (max-width: 400px) {
    
}