body{
    position: relative;
    background-color: black;
    padding: 10%;
    padding-top: 3%;
}


.icon-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
.icon-menu  span {
    width: 100%;
    height: 10px;
    background-color: #333;
    margin: 3px 0;
}


.espansione{
    position: absolute;
    display: flex;
    flex-direction: row;
}

.mostra{
    display:none;
}

.categoria{
    background-color:gray;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #333;
    
    
}

.categoria:hover{
    background-color:rgb(204, 202, 202);
}

.categoria a{
    margin: 15px;
    text-decoration: none;
    color: white;
    
}

.titolo-pagina h1{

    color: white;
    text-align: center;
}
.contenitore-presentazione{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10%;
    padding-top: 5%;
    gap:20px;
    background-color: grey;
    border-radius: 10px;
    border: 1px red solid;

}

.contenitore-presentazione a{
    flex: 0 calc(20% - 20px);
}

.item{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px red solid;
    text-align: center;
    background-color: black;
}

.immagine-item-presentazione{
    width: 80%;
    margin-top: 10px;
    border: 1px red solid;
}

.titolo-item-presentazione{
    color:white;
    padding: 3%;
    font-size: 15px;
    
}








@media only screen and (max-width: 500px) {
    body {
      padding: 0%;
    }

    .icon-menu{
        padding:3%;
    }

    .espansione{
        padding:3%;
    }

    .contenitore-presentazione a{
        flex: 0 calc(50% - 20px);
    }

    .categoria{
        width: 100%;
    }
}