.principale{
    display: flex;
    flex-direction: column;
    border:1px solid red;
    width: 70%;
    padding:10px;
    border-radius: 10px;
}

.principale iframe {
    border-radius: 10px;
    width: 100%;
    height: 500px;
    
}

.menu-episodi{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap:20px;
    flex-wrap: wrap;
}

.menu-episodi button{
    flex:0 calc(5%);
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    .principale{
        width: 100%;
    }

    .principale iframe {
        width: 100%;
        height: 300px;
    }

    .menu-episodi button{
        flex:0 calc(10%);
        
    }
}